body {
    background-image: url("resources/imgs/bg.jpg");
    font-family: "Rock Salt";
    text-align: center;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}