body {
    background-image: url("resources/imgs/dancing_cat.gif");
    font-family: "Rock Salt";
    text-align: center;
    background-size: 300px 300px;
    animation: scrollBg 1s linear infinite;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes scrollBg {
  from { background-position-x: 0; }
  to   { background-position-x: -300px; } /* moves exactly one full tile */
  from { background-position-y: 0;}
  to { background-position-y: 300px;}
}
